<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv= "x-ua-compatible" content= "ie=edge,chrome=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type="text/css">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/main.css">

    </head>
    <body>
        <header>
            <div class="row">
                <div class="grid-33">
                    <a href="{{url_for('index')}}" class="icon-logo"></a>
                </div>
                <div class="grid-33">
                    <h1>Hello {% if current_user.is_authenticated %}  {{ current_user.username }} {% endif %};</h1>
                </div>
                <div class="grid-33">
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('logout') }}" class="icon-power" title="Log in"></a>
                    <a href="{{ url_for('register') }}" class="icon-power" title="Register"></a>
                    {% endif %}

                </div>
            </div>
        </header>

        {% with messages = get_flashed_messages(with_categories=True) %}

            {% if messages %}
                {% for category, message in messages %}
                    <div class="notification {{category}}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

        {% endwith %}

        <div class="row">

            <div class="main">

                <nav>
                    <a href="{{url_for('index')}}">All</a>
                </nav>

            </div>

        </div>

    </body>
</html>
